

  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .registro-hora-editar {
    display: grid;
    grid-template-columns: 3fr 1.5fr .6fr .6fr .6fr 4fr 1fr;
    gap: 10px;
    
    padding: 7px;
    background-color: #f5f5f54d;
    margin-bottom: 10px; 
    z-index: 1;
  }
  
  .registro-hora-header {
    display: grid;
    grid-template-columns: 3fr 1.54fr .6fr .6fr .6fr 4fr 1fr;
    align-items: center;
    gap: 10px;
    
    padding: 7px;
    background-color: #f5f5f54d;
    margin-bottom: 10px; 
    z-index: 1;
  }

  .registro-hora-header.editing {
    text-align: center;
  } 

  .coluna {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
  
    padding: 5px;
    border-radius: 8px; 
    background-color: #b1b1b1; 
    z-index: 2;
    color: rgb(22, 14, 14);
  }

  .div-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
  }

  .bt-cancelar {
    background-color: #af554c;
  }
  
  .coluna.contrato {
    font-weight: bold;
    text-align: left;
    width: 100%;
  }

  .coluna.contrato.lista {

    width: 24.2vw;
    height: 15px;
  }
  
  .coluna.tipo-hora {
    width: 12.5vw;
  }

  .coluna.inicio {
    width: 100%;
  }

  .coluna.fim {
    width: 100%;
  }

  .coluna.total {
    width: 100%;
  }

  .coluna.descricao {
    text-align: left;
    width: 100%;
  }

  .coluna.descricao.editing {
    text-align: left;
    width: auto;
  }

  .dropdown-table {
    position: absolute;
    background: #b1b1b1;
    /*
    transform: translateY(58%);
    */
    z-index: 3;
    width: 40vw;
    border-color: #6b6b6b;
    border-style: solid;
  }

  .dropdown-filter {
    border-radius: 0%;
    width: 100%;
  }

  .dropdown-item {
    cursor: pointer;
    text-align: justify;
    width: 40vw;
    height: 30px;
    color: #2f2f2f;
    font-weight: bold;
  }

  .dropdown-span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 40vw;
    text-overflow: ellipsis;
    height: 35px;
    display: flex;
    align-items: center;
  }
  .dropdown-item :hover {
    background-color: #6b6b6b;
  }
  
  .dropdown-list {
    max-height: 30vh;
    overflow-y: auto; 
    overflow-x: hidden;
  }
  /*
  .coluna.contrato {
    width: 25vw;
  }
  .coluna.inicio, .coluna.fim, .coluna.total {
    width: 5vw;
  }
  */