
<div class="registro-hora-header" [ngClass]="isEditing ?'editing':''">
  <span>Contrato de Serviço</span>
  <span>Tipo de Hora</span>
  <span>H. Inicial</span>
  <span>H. Final</span>
  <span>H. Total</span>
  <span>Descrição</span>
  <span>Ações</span>
</div>
<form class="registro-hora-editar" autocomplete="off" [formGroup]="formulario" (ngSubmit)="salvar()">



  <input id="contract_id_display" formControlName="contract_id_display" class="coluna contrato" (click)="showDropdown()" readonly>
  <input id="contract_id" formControlName="contract_id" style="display: none;" (click)="showDropdown()">

  <select id="hour_type" formControlName="hour_type" class="coluna tipo-hora">
    <option *ngFor="let tipo_hora of tipos_horas" [value]="tipo_hora.id">{{ tipo_hora.description }}</option>
  </select>
  <input type="text" appHoraMask placeholder="00:00" [(ngModel)]="formulario.value.start_at" (ngModelChange)="horaAlterada($event, 'start_at')" id="start_at" formControlName="start_at" class="coluna inicio">
  <input type="text" appHoraMask placeholder="23:59" [(ngModel)]="formulario.value.end_at" (ngModelChange)="horaAlterada($event, 'end_at')" id="end_at" formControlName="end_at" class="coluna fim">
  <input type="text" id="total_time_sheet_hours" readonly formControlName="total_time_sheet_hours"  class="coluna total">
  <input type="text" id="description" formControlName="description" class="coluna descricao" [ngClass]="isEditing ?'editing':''">
  <div class="div-buttons">
    <button *ngIf="isEditing" (click)="cancelar($event)" class="bt-cancelar btn btn-primary">Cancelar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
  <div id="dropdown-table" class="dropdown-table" *ngIf="contractDropdownVisible">
    <input type="text" formControlName="contractSearchText" placeholder="Buscar..." class="dropdown-filter">
    <div class="dropdown-list">
      <div *ngFor="let contrato of filteredContratos()" (click)="selectContrato(contrato)" class="dropdown-item">
          <span class="dropdown-span">{{ contrato.code+" - "+contrato.description }}</span>
      </div>
    </div>
  </div>
</form>
