<div class="div-logos">
    <img src="assets/icons/icon.png">
    <h1>+</h1>
    <img src="assets/icons/orbit-logo.png">
</div>
<div>
    <span>O Taskoo é uma ferramenta independente, não afiliada à Seidor, projetada para simplificar o registro de
        tarefas. Com ele, você pode registrar suas tarefas de forma fácil e intuitiva.</span>
    <br>
    <span>Para uma experiência completa, você pode fazer login com sua conta Orbit e aproveitar a integração total,
        incluindo acesso aos seus contratos, sincronização de lançamentos e resumo mensal.</span>
    <br>
    <span>Se preferir, você pode usar o Taskoo sem fazer login com Orbit, para aproveitar as funções básicas de
        lembretes e registros de tarefas que serão salvos localmente.</span>
</div>
<br>
<form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
    <div>
        <div class="form-group">
            <input type="email" id="email" placeholder="E-mail:" formControlName="email" class="form-control" required>
        </div>

        <div class="form-group">
            <input type="password" id="password" placeholder="Senha:" formControlName="password" class="form-control"
                required>
        </div>

        <div>
            <input type="checkbox" formControlName="agreeTerms" required>
            <span>Li e concordo com as informações sobre o Taskoo e sua integração com o Orbit.</span>
            <br>
            <input type="checkbox" formControlName="saveCredentions" required>
            <span>Salvar credenciais do Orbit para login automático</span>
        </div>
        <div class="div-buttons">
            <button class="bt-cancelar btn btn-primary" (click)="cancelar($event)" >NÃO
                INTEGRAR</button>
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">INTEGRAR COM ORBIT</button>
        </div>
    </div>
</form>