.dialog-editar-background {
    width: 100%;
    height: 100%;
    background-color: #000000a8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}
.dialog-editar-container{
    position: fixed; /* Garante que o diálogo fique fixo na tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o diálogo */
    background-color: #2f2f2f;
    z-index: 1000; /* Coloca o diálogo na frente de outros elementos */
    padding: 20px;
    border-radius: 8px;
    width: 90%;
}