<div class="month-summary">
    <div class="summary-item">
        <div class="summary-icon">
            <div class="icon-bg-blue">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    viewBox="0 0 256 256">
                    <path
                        d="M136,80v43.47l36.12,21.67a8,8,0,0,1-8.24,13.72l-40-24A8,8,0,0,1,120,128V80a8,8,0,0,1,16,0Zm88-24a8,8,0,0,0-8,8V82c-6.35-7.36-12.83-14.45-20.12-21.83a96,96,0,1,0-2,137.7,8,8,0,0,0-11-11.64A80,80,0,1,1,184.54,71.4C192.68,79.64,199.81,87.58,207,96H184a8,8,0,0,0,0,16h40a8,8,0,0,0,8-8V64A8,8,0,0,0,224,56Z">
                    </path>
                </svg>
            </div>
        </div>
        <div>
            <div class="summary-name">Total de Horas Lançadas</div>
            <div class="summary-value">{{resumoTotalMes.total_sum_hours_recorded}}</div>
        </div>
    </div>
    <div class="summary-item">
        <div class="summary-icon">
            <div class="icon-bg-blue">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    viewBox="0 0 256 256">
                    <path
                        d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm64-88a8,8,0,0,1-8,8H128a8,8,0,0,1-8-8V72a8,8,0,0,1,16,0v48h48A8,8,0,0,1,192,128Z">
                    </path>
                </svg></div>
        </div>
        <div>
            <div class="summary-name">Total de Horas Úteis</div>
            <div class="summary-value">{{resumoTotalMes.working_hours}}</div>
        </div>
    </div>
    <div class="summary-item">
        <div class="summary-icon">
            <div class="icon-bg-green">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    viewBox="0 0 256 256">
                    <path
                        d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM232,128A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z">
                    </path>
                </svg></div>
        </div>
        <div>
            <div class="summary-name">Horas Aprovadas</div>
            <div class="summary-value">{{resumoTotalMes.total_status_approved}}</div>
        </div>
    </div>
    <div class="summary-item">
        <div class="summary-icon">
            <div class="icon-bg-yellow">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    viewBox="0 0 256 256">
                    <path
                    d="M236.8,188.09,149.35,36.22h0a24.76,24.76,0,0,0-42.7,0L19.2,188.09a23.51,23.51,0,0,0,0,23.72A24.35,24.35,0,0,0,40.55,224h174.9a24.35,24.35,0,0,0,21.33-12.19A23.51,23.51,0,0,0,236.8,188.09ZM222.93,203.8a8.5,8.5,0,0,1-7.48,4.2H40.55a8.5,8.5,0,0,1-7.48-4.2,7.59,7.59,0,0,1,0-7.72L120.52,44.21a8.75,8.75,0,0,1,15,0l87.45,151.87A7.59,7.59,0,0,1,222.93,203.8ZM120,144V104a8,8,0,0,1,16,0v40a8,8,0,0,1-16,0Zm20,36a12,12,0,1,1-12-12A12,12,0,0,1,140,180Z">
                  </path>
                </svg></div>
        </div>
        <div>
            <div class="summary-name">Horas com Erro</div>
            <div class="summary-value">{{resumoTotalMes.total_status_error}}</div>
        </div>
    </div>
    <div class="summary-item">
        <div class="summary-icon">
            <div class="icon-bg-blue">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    viewBox="0 0 256 256">
                    <path
                        d="M136,80v43.47l36.12,21.67a8,8,0,0,1-8.24,13.72l-40-24A8,8,0,0,1,120,128V80a8,8,0,0,1,16,0Zm88-24a8,8,0,0,0-8,8V82c-6.35-7.36-12.83-14.45-20.12-21.83a96,96,0,1,0-2,137.7,8,8,0,0,0-11-11.64A80,80,0,1,1,184.54,71.4C192.68,79.64,199.81,87.58,207,96H184a8,8,0,0,0,0,16h40a8,8,0,0,0,8-8V64A8,8,0,0,0,224,56Z">
                    </path>
                </svg></div>
        </div>
        <div>
            <div class="summary-name">Aguardando Aprovação</div>
            <div class="summary-value">{{resumoTotalMes.total_status_waiting_approval}}</div>
        </div>
    </div>
</div>