
  
  .mat-dialog-actions {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    padding-top: 10px;
  }

  .mat-dialog-actions .mat-button-base {
    margin: 0 8px; 
  }

  .mat-button {
    margin-inline: 10px;
  }

  .button-no {
    background-color: #af554c !important; 
  }

  .button-yes {
    background-color: #4CAF50 !important;
  }

  .notification-body {
    padding: 10px;
  }